<div class="py-3 d-print-none">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      作成者
      <ul class="list-group list-group-flush">
        <li class="list-group-item">junara</li>
      </ul>
    </li>
    <li class="list-group-item">
      問い合わせ
      <ul class="list-group list-group-flush">
        <li class="list-group-item">jun5araki@gmail.com</li>
      </ul>
    </li>
  </ul>
</div>